{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Educa{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div id="header" style="list-style-type: none;">
        <a href="/" class="logo"></a>
        {% if request.user.is_authenticated %}
        <li><a href="{% url "manage_course_list" %}">My Courses</a></li>
        <li>
            <form action="{% url "logout" %}" method='post'>
                {% csrf_token %}
                <button>Sign out</button>
            </form>
        </li>
        {% else %}
        <li><a href="{% url "login" %}">Sign in</a></li>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            {% block domready %}
            {% endblock domready %}
        })
    </script>
</body>
</html>